body {
   background-color: #91C499; 

}

.flex {
    display: flex;
    flex-direction: row;
}

nav {
    background-color:#76877D;
}

main {
    background-color: #ffffff;
}

h1 {
    color: black;
    text-align: center;
}

h2 {
    text-align: center;
}

 .logo{
  position: relative;
  left: 100px;
  right: 300px;

}

.foto{
    position: relative;
    left: 600px;
}

.foto1 {
    position: relative;
    left: 650px;
}

main{
    font-size: 25px;
}

.foto2{
    position: relative;
    left: 600px;
}

.foto3 {
    position: relative;
    left: 650px;
}

.foto4 {
    position: relative;
    left: 300px;
}

p{
    text-align: center;
}

